#feiticeiroDisplayStyle{
    position: absolute;
    top: 5%;
    right: -5%;
    width: 30%;
    height: 90%;
    background-color: cornflowerblue;
    color: black;
    border: solid 3px black;
    border-radius: 5%;
    transition: 0.5s all 0s;
    opacity: 0;
}

#mensagemFeiticeiro{
    position: absolute;
    top: 1%;
    left: 50%;
    transform: translate(-50%);
    width: 90%;
    height: 15%;
    background-color: none;
    text-align: center;
    font-size: 15pt;
    font-weight: bold;
}

#itemFeiticeiro1, #itemFeiticeiro2, #itemFeiticeiro3{
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    width: 75%;
    background-color: gray;
    border: solid 3px black;
    border-radius: 5%;
    text-align: center;
    font-size: 12pt;
    font-weight: bold;
}

#itemFeiticeiro1{
    top: 20%;
}

#itemFeiticeiro2{
    top: 40%;
}

#itemFeiticeiro3{
    top: 60%;
}

#BotaoItemFeiticeiro1, #BotaoItemFeiticeiro2, #BotaoItemFeiticeiro3{
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    width: 30%;
    height: 5%;
    background-color: gray;
    border: solid 3px black;
    border-radius: 20%;
    text-align: center;
    font-size: 10pt;
    font-weight: bold;
}

#BotaoItemFeiticeiro1{
    top: 35%;
}

#BotaoItemFeiticeiro2{
    top: 55%;
}

#BotaoItemFeiticeiro3{
    top: 75%;
}

#BotaoItemFeiticeiro1:hover, #BotaoItemFeiticeiro2:hover, #BotaoItemFeiticeiro3:hover{
    background-color: lightgray;
    cursor: pointer;
}