/*-----*/
#ferreiroDisplay {
    display: none;
}

/*-----*/

/*-----*/
#mensagemFerreiro {
    position: absolute;
    top: -4%;
    left: 50%;
    transform: translate(-50%);
    width: 70%;
    height: 15%;
    padding: 0.5%;
    background-color: black;
    color: orangered;
    border-bottom-left-radius: 20%;
    border-bottom-right-radius: 20%;
    text-align: center;
    font-size: 15pt;
}

/*-----*/

/*-----*/
#botaoAbrirFecharLojaFerreiro {
    position: absolute;
    bottom: 0%;
    left: 50%;
    transform: translate(-50%);
    width: 15%;
    height: 5%;
    background-color: black;
    color: orangered;
    border-top-left-radius: 20%;
    border-top-right-radius: 20%;
    font-size: 12pt;
    transition: 0.5s all 0s;
    z-index: 9999;
}

#botaoAbrirFecharLojaFerreiro:hover {
    background-color: rgb(30, 30, 30);
    cursor: pointer;
}
/*-----*/

/*-----*/
#lojaComprarFerreiroMensagem
{
    background-color: black;
    border-radius: 5%;
    text-align: center;
    font-size: 10;
}


#lojaComprarFerreiro {
    position: absolute;
    bottom: 3%;
    left: -6%;
    padding: 0% 1% 1% 1%;
    width: 25%;
    height: 80%;
    background-color: rgb(30, 30, 30);
    color: orangered;
    border: solid 5px black;
    border-radius: 5%;
    transition: 0.5s all 0s;
    opacity: 0;
    overflow: auto;
}

.itemComprarFerreiro{
    width: 100%;
    height: 25%;
    margin: 10% 0% 0% 0%;
    padding: 0% 0.1% 0% 5%;
    background-color: black;
    border-radius: 5%;
    text-align: center;
}


.nomeItemComprarFerreiro{
    margin: 0% 0% 0% 0%;
    padding: 3% 0% 0% 0%;
    font-size: 15pt;
}

.informacaoItemComprarFerreiro{
    margin: 0% 0% 0% 0%;
    padding: 0% 0% 0% 0%;
    font-size: 12pt;
}

.precoItemComprarFerreiro{
    margin: 5% 0% 0% 0%;
    padding: 0% 0% 0% 0%;
    font-size: 12pt;
}

.comprarItemFerreiro {
    position: absolute;
    right: 5%;
    margin: 5% 0% 0% 0%;
    padding: 0%;
    background-color: rgb(30, 30, 30);
    color: orangered;
    border-radius: 5%;
    font-size: 10pt;
}

.comprarItemFerreiro:hover{
    background-color: gray;
    cursor: pointer;
}
/*-----*/

/*-----*/
#lojaVenderFerreiro {
    position: absolute;
    bottom: 3%;
    right: -6%;
    padding: 0% 1% 1% 1%;
    width: 25%;
    height: 80%;
    background-color: rgb(30, 30, 30);
    color: orangered;
    border: solid 5px black;
    border-radius: 5%;
    transition: 0.5s all 0s;
    opacity: 0;
    overflow: auto;
}

#itemVenderFerreiro1,
#itemVenderFerreiro2,
#itemVenderFerreiro3,
#itemVenderFerreiro4,
#itemVenderFerreiro5,
#itemVenderFerreiro6 {
    width: 100%;
    height: 25%;
    margin: 10% 0% 0% 0%;
    padding: 0% 0.1% 0% 5%;
    background-color: black;
    border-radius: 5%;
    text-align: center;
}

#nomeItemVenderFerreiro1,
#nomeItemVenderFerreiro2,
#nomeItemVenderFerreiro3,
#nomeItemVenderFerreiro4,
#nomeItemVenderFerreiro5,
#nomeItemVenderFerreiro6 {
    margin: 0% 0% 0% 0%;
    padding: 3% 0% 0% 0%;
    font-size: 15pt;
}

#informacaoItemVenderFerreiro1,
#informacaoItemVenderFerreiro2,
#informacaoItemVenderFerreiro3,
#informacaoItemVenderFerreiro4,
#informacaoItemVenderFerreiro5,
#informacaoItemVenderFerreiro6 {
    margin: 0% 0% 0% 0%;
    padding: 0% 0% 0% 0%;
    font-size: 12pt;
}

#custoItemVenderFerreiro1,
#custoItemVenderFerreiro2,
#custoItemVenderFerreiro3,
#custoItemVenderFerreiro4,
#custoItemVenderFerreiro5,
#custoItemVenderFerreiro6 {
    margin: 5% 0% 0% 0%;
    padding: 0% 0% 0% 0%;
    font-size: 12pt;
}

#venderItemFerreiro1,
#venderItemFerreiro2,
#venderItemFerreiro3,
#venderItemFerreiro4,
#venderItemFerreiro5,
#venderItemFerreiro6 {
    position: absolute;
    right: 5%;
    margin: 5% 0% 0% 0%;
    padding: 0%;
    background-color: rgb(30, 30, 30);
    color: orangered;
    border-radius: 5%;
    font-size: 10pt;
}

#venderItemFerreiro1:hover,
#venderItemFerreiro2:hover,
#venderItemFerreiro3:hover,
#venderItemFerreiro4:hover,
#venderItemFerreiro5:hover,
#venderItemFerreiro6:hover {
    background-color: gray;
    cursor: pointer;
}
/*-----*/