/*-ESCOLHA RAÇA-*/
#escolhaRaca {
    display: none;
}

#voltarRaca {
    position: absolute;
    top: 3%;
    left: 1%;
    background-color: black;
    color: orangered;
    border: solid 3px black;
    border-radius: 15%;
    font-size: 15pt;
    transition: 0.5s;
}

#voltarRaca:hover {
    background-color: gray;
    color: black;
    border: solid 3px gray;
    cursor: pointer;
}

#mensagemRaca {
    position: absolute;
    top: -10%;
    left: 50%;
    transform: translate(-50%);
    padding-top: 2%;
    text-align: center;
    font-size: 35pt;
    font-weight: bold;
}

/*-----*/

/*-RAÇAS-*/
#humanoBarra,
#elfoBarra,
#orcBarra,
#draconatoBarra,
#vampiroBarra {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 15%;
    margin: 0%;
    width: 30%;
}

#humanoBarra {
    left: 5%;
}

#elfoBarra {
    left: 50%;
    transform: translate(-50%);
}

#orcBarra {
    left: 65%;
}

#draconatoBarra {
    top: 60%;
    left: 15%;
}

#vampiroBarra {
    top: 60%;
    left: 55%;
}

/*-----*/
#humano,
#elfo,
#orc,
#draconato,
#vampiro {
    margin: 0%;
    width: 50%;
    background-color: black;
    color: orangered;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    font-size: 20pt;
    transition: 0.5s;
}

#humano:hover {
    background-color: wheat;
    cursor: pointer;
}

#elfo:hover {
    background-color: green;
    cursor: pointer;
}

#orc:hover {
    background-color: red;
    cursor: pointer;
}

#draconato:hover {
    background-color: blue;
    cursor: pointer;
}

#vampiro:hover {
    background-color: purple;
    cursor: pointer;
}

/*-----*/
#humanoCaracteristica,
#elfoCaracteristica,
#orcCaracteristica,
#draconatoCaracteristica,
#vampiroCaracteristica {
    margin: 0% 0% 0% 0%;
    padding: 3%;
    width: 75%;
    height: 24vh;
    background-color: black;
    color: orangered;
    border-left: solid 7px gray;
    border-right: solid 7px gray;
    border-radius: 5px;
    text-align: justify;
    font-size: 15pt;
    overflow: auto;
}

#humanoCaracteristica {
    border-left: solid 7px wheat;
    border-right: solid 7px wheat;
}

#elfoCaracteristica {
    border-left: solid 7px green;
    border-right: solid 7px green;
}

#orcCaracteristica {
    border-left: solid 7px red;
    border-right: solid 7px red;
}

#draconatoCaracteristica {
    border-left: solid 7px blue;
    border-right: solid 7px blue;
}

#vampiroCaracteristica {
    border-left: solid 7px purple;
    border-right: solid 7px purple;
}

/*-----*/
#humanoStats,
#elfoStats,
#orcStats,
#draconatoStats,
#vampiroStats {
    margin: 1% 0% 0% 0%;
    padding: 2% 0% 0% 0%;
    width: 75%;
    height: 4vh;
    background-color: black;
    color: orangered;
    border-radius: 5px;
    text-align: center;
    font-size: 11pt;
}

#humanoStats {
    border-left: solid 7px wheat;
    border-right: solid 7px wheat;
}

#elfoStats {
    border-left: solid 7px green;
    border-right: solid 7px green;
}

#orcStats {
    border-left: solid 7px red;
    border-right: solid 7px red;
}

#draconatoStats {
    border-left: solid 7px blue;
    border-right: solid 7px blue;
}

#vampiroStats {
    border-left: solid 7px purple;
    border-right: solid 7px purple;
}

/*-----*/