/*-ESCOLHA RAÇA-*/
#escolhaRaca {
    display: none;
}

#botaoVoltarRaca {
    position: absolute;
    top: 3%;
    left: 1%;
    width: 7%;
    height: 7%;
    background-color: black;
    color: orangered;
    border: solid 3px black;
    border-radius: 15%;
    font-size: 15pt;
    transition: 0.5s;
}

#botaoVoltarRaca:hover {
    background-color: gray;
    color: black;
    border: solid 3px gray;
}

#mensagemRaca {
    margin-top: 2%;
    text-align: center;
    font-size: 35pt;
    font-weight: bold;
}

/*-----*/

/*-RAÇAS-*/
#humanoBarra,
#elfoBarra,
#orcBarra,
#draconatoBarra,
#vampiroBarra {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 15%;
    width: 30%;
    height: 60%;
}

#humanoBarra {
    left: 5%;
}

#elfoBarra {
    left: 50%;
    transform: translate(-50%);
}

#orcBarra {
    left: 65%;
}

#draconatoBarra {
    top: 60%;
    left: 15%;
}

#vampiroBarra {
    top: 60%;
    left: 55%;
}

/*-----*/
#botaoHumano,
#botaoElfo,
#botaoOrc,
#botaoDraconato,
#botaoVampiro {
    width: 75%;
    height: 10%;
    background-color: black;
    color: orangered;
    border: none;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    font-size: 20pt;
    transition: 0.5s;
}

#botaoHumano:hover {
    background-color: wheat;
}

#botaoElfo:hover {
    background-color: green;
}

#botaoOrc:hover {
    background-color: red;
}

#botaoDraconato:hover {
    background-color: blue;
}

#botaoVampiro:hover {
    background-color: purple;
}

/*-----*/
#humanoCaracteristica,
#elfoCaracteristica,
#orcCaracteristica,
#draconatoCaracteristica,
#vampiroCaracteristica {
    padding: 3%;
    width: 75%;
    height: 45%;
    background-color: black;
    color: orangered;
    text-align: left;
    font-size: 15pt;
    overflow: auto;
}

#humanoCaracteristica,
#humanoStats {
    border-left: solid 3px wheat;
    border-right: solid 3px wheat;
}

#elfoCaracteristica,
#elfoStats {
    border-left: solid 3px green;
    border-right: solid 3px green;
}

#orcCaracteristica, #orcStats{
    border-left: solid 3px red;
    border-right: solid 3px red;
}

#draconatoCaracteristica, #draconatoStats{
    border-left: solid 3px blue;
    border-right: solid 3px blue;
}

#vampiroCaracteristica, #vampiroStats{
    border-left: solid 3px purple;
    border-right: solid 3px purple;
}

/*-----*/
#humanoStats,
#elfoStats,
#orcStats,
#draconatoStats,
#vampiroStats {
    margin-top: 1%;
    padding-top: 2%;
    width: 75%;
    height: 10%;
    background-color: black;
    color: orangered;
    text-align: center;
    font-size: 12pt;
}
/*-----*/