/*-SELEÇÃO GÊNERO-*/
#escolhaGenero {
    display: none;
}

#mensagemEscolhaGenero {
    margin-top: 10%;
    text-align: center;
    font-size: 40pt;
    font-weight: bolder;
}

/*-----*/
#botaoMasculino,
#botaoFeminino {
    display: block;
    margin: auto;
    margin-top: 5%;
    width: 20%;
    height: 50px;
    background-color: black;
    color: orangered;
    border: solid;
    border-radius: 20px;
    font-size: 25pt;
    transition: 0.5s all 0s;
}

#botaoMasculino:hover {
    background-color: blue;
}

#botaoFeminino:hover {
    background-color: #F005D0;
}

/*-----*/

/*-----*/
/*-SELEÇÃO NOME-*/
#escolhaNome {
    display: none;
}

#mensagemEscolhaNome {
    margin-top: 10%;
    margin-bottom: 3%;
    text-align: center;
    font-size: 40pt;
    font-weight: bold;
}

/*-----*/
#nomeJogador {
    display: block;
    margin: auto;
    width: 40%;
    height: 100px;
    background-color: black;
    color: orangered;
    border: solid 5px black;
    border-radius: 25px;
    text-align: center;
    font-size: 50pt;
    box-shadow: 0px 30px 70px black;
    outline: none;
}

#enviarNomeJogador {
    display: block;
    margin: auto;
    margin-top: 5%;
    width: 15%;
    height: 50px;
    background-color: black;
    color: orangered;
    border: solid 3px black;
    border-radius: 5px;
    font-size: 25pt;
    transition: 0.5s;
}

#enviarNomeJogador:hover {
    background-color: gray;
    color: black;
    border: solid 3px gray;
}

/*-----*/
