/*-SELEÇÃO GÊNERO-*/
#mensagemEscolhaGenero {
    padding-top: 10%;
    text-align: center;
    font-size: 25pt;
    font-weight: bold;
}
#botaoMasculino {
    display: block;
    margin: auto;
    margin-top: 5%;
    width: 20%;
    height: 50px;   
    background-color: black;
    color: orangered;
    border: solid;
    border-radius: 20%;
    font-size: 25pt;
}
#botaoFeminino {
    display: block;
    margin: auto;
    margin-top: 5%;
    width: 20%;
    height: 50px;
    background-color: black;
    color: orangered;
    border: solid;
    border-radius: 20%;
    font-size: 25pt;
}
/*-----*/

/*-SELEÇÃO NOME-*/
#mensagemEscolhaNome {
    padding-top: 10%;
    text-align: center;
    font-size: 25pt;
    font-weight: bold;
}
#nomeJogador{
    display: block;
    margin: auto;
    width: 40%;
    height: 100px;
    background-color: black;
    color: orangered;
    border: solid 5px gray;
    text-align: center;
    font-size: 50pt;
}
#enviarNomeJogador{
    display: block;
    margin: auto;
    margin-top: 5%;
    width: 15%;
    height: 50px;
    background-color: black;
    color: orangered;
    border: solid 3px gray;
    border-radius: 0%;
    font-size: 25pt;
}
@keyframes botaoAnimacaoUsuario {
    0% {background-color: black;}
    50% {background-color: gray;}
    100% {background-color: black;}
}
/*-----*/
