/*-GERAL-*/
#rpgGeral {
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%);
    width: 90%;
    height: 90%;
    background-color: orangered;
    border: solid 5px black;
    border-radius: 15px;
    box-shadow: 0px 5px 50px -30px white;
    transition: 1s;
}

/*-----*/


/*-SCROLL BAR-*/
/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: rgb(20, 20, 20);
    visibility: visible;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: black;
    width: 5px;
    visibility: visible;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/*-----*/