/*-GERAL-*/
:root{
    --corPrimario: #730255;
    --corSecundario:#444DF2;
    --corTerciario: #053959;
    --corQuaternario: #07B0F2;
    --corQuinquenaria: #05DBF2;
}


#rpgGeral {
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%);
    width: 90%;
    height: 90%;
    background-color: orangered;
    border: solid 5px black;
    border-radius: 50px;
    box-shadow: 0px 5px 50px -30px white;
    transition: 1s;  
    animation: rpgGeralAnimacao 3s 0ms infinite running;
}

@keyframes rpgGeralAnimacao {
    0% {
        box-shadow: 0px 5px 50px -30px white;
    }

    50% {
        box-shadow: 0px 5px 50px -20px white;
    }
}
/*-----*/


/*-SCROLL BAR-*/
/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: rgb(20, 20, 20);
    visibility: visible;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: black;
    width: 5px;
    visibility: visible;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/*-----*/
