/*-DISPLAY MENU-*/
#menu {
    display: none;
}

/*-----*/


/*-BOTÃO PRINCIPAL MENU-*/
#mainBotaoMenu {
    display: none;
}

#botaoMenu {
    position: absolute;
    top: 0%;
    left: 4%;
    width: 8%;
    background-color: black;
    color: orangered;
    border: solid 3px black;
    font-size: 20px;
    font-weight: bold;
}

#botaoMenu:hover {
    background-color: rgb(30, 30, 30);
    cursor: pointer;
}

/*-----*/


/*-NIVEL-*/
#nivel {
    position: absolute;
    top: -15%;
    left: 50%;
    transform: translate(-50%);
    width: 20%;
    height: 5%;
    text-align: center;
    font-weight: bold;
    transition: 0.5s all 0s;
    opacity: 0;
}

#nivelAtual {
    margin: auto;
    padding: 0% 0% 0% 0%;
    width: 50%;
    height: 5vh;
    background-color: rgb(30, 30, 30);
    border: solid 3px black;
    border-radius: 5px;
    border-bottom: none;
    text-align: center;
    font-size: 20pt;
    font-weight: bold;
}

#experienciaAtual {
    margin: auto;
    padding: 0% 0% 0% 0%;
    width: 85%;
    height: 3.5vh;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAASwAAACoCAMAAABt9SM9AAAAA1BMVEWAgICQdD0xAAAAR0lEQVR4nO3BAQEAAACCIP+vbkhAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAO8GxYgAAb0jQ/cAAAAASUVORK5CYII=);
    background-repeat: no-repeat;
    background-size: 0% 100%;
    border: solid 3px black;
    text-align: center;
    font-size: 10pt;
    font-weight: bold;
    transition: 1s linear 0s;
}

#subirNivelDisplay {
    display: none;
}

#upStatus {
    display: none;
}

#subirNivel {
    margin: 0% 0% 5% 0%;
    padding: 2%;
    background-color: black;
    color: darkgray;
    border-radius: 15px;
    text-align: center;
    font-size: 10pt;
    font-weight: bold;
}

#subirVida,
#subirEnergia,
#subirMana {
    margin: 0% 0% 5% 0%;
    padding: 2%;
    width: 25%;
    color: black;
    border-radius: 15px;
    text-align: center;
    font-size: 10pt;
    font-weight: bold;
}

#subirVida {
    background-color: red;
}

#subirEnergia {
    background-color: green;
}

#subirMana {
    background-color: blue;
}

/*-----*/


/*-CARACTERISTICAS-*/
#menuNomeGeneroRaca {
    position: absolute;
    top: 15%;
    left: -5%;
    width: 15%;
    height: 35%;
    padding: 1% 0.5% 5% 0.5%;
    background-color: rgb(30, 30, 30);
    border: solid 3px black;
    border-radius: 15px;
    transition: 0.5s all 0s;
    opacity: 0;
    box-shadow: 0px 20px 50px -10px black;
}

#menuNome,
#menuGenero,
#menuRaca,
#menuPecitas {
    width: 100%;
    margin: 0% 0% 10% 0%;
    padding: 2%;
    background-color: black;
    color: darkgray;
    border-radius: 5px;
    text-align: center;
    font-size: 15pt;
}

/*-----*/

/*-PECITAS / PESO-*/
#menuPecitas {
    position: absolute;
    bottom: 1%;
    left: 50%;
    transform: translate(-50%);
    width: 53%;
    color: goldenrod;
    font-size: 13pt;
}

#menuPeso {
    width: 80%;
    margin: auto;
    margin-top: 20%;
    padding: 0% 0% 0% 0%;
    background-color: black;
    color: gray;
    text-align: center;
    font-size: 15pt;
}

/*-----*/


/*-STATS-*/
#menuStats {
    position: absolute;
    top: 55%;
    left: -5%;
    width: 15%;
    height: 35%;
    padding: 1% 0.5% 5% 0.5%;
    background-color: rgb(30, 30, 30);
    border: solid 3px black;
    border-radius: 15px;
    transition: 0.5s all 0s;
    opacity: 0;
    box-shadow: 0px 20px 50px -10px black;
}

#menuVida,
#menuEnergia,
#menuMana,
#menuPeso {
    width: 100%;
    margin: 5% 0% 5% 0%;
    padding: 3%;
    background-color: black;
    border-radius: 5px;
    text-align: center;
    font-size: 15pt;
}

#menuVida {
    color: red;
}

#menuEnergia {
    color: green;
}

#menuMana {
    color: blue;
}

/*-----*/


/*-VOLTAR/PRÓXIMO EQUIPAMENTOS/MAGIAS-*/
#voltarEquipamentos {
    position: absolute;
    top: 1%;
    left: 1%;
}

#proximoEquipamentos {
    position: absolute;
    top: 1%;
    right: 1%;
}

/*-----*/
#voltarMagias {
    position: absolute;
    top: 1%;
    left: 1%;
}

#proximoMagias {
    position: absolute;
    top: 1%;
    right: 1%;
}

/*-----*/
/*-EQUIPAMENTO/MAGIAS-*/
#menuEquipamentos {
    position: absolute;
    top: 5%;
    right: -5%;
    width: 20%;
    height: 40%;
    margin: 0% 0% 0% 0%;
    padding: 0% 0% 0% 0%;
    background-color: rgb(30, 30, 30);
    border: solid 3px black;
    border-radius: 15px;
    transition: 0.5s all 0s;
    opacity: 0;
    box-shadow: 0px 20px 50px -10px black;
}

#menuMagias {
    position: absolute;
    top: 55%;
    right: -5%;
    width: 20%;
    height: 40%;
    padding: 0% 0% 0% 0%;
    background-color: rgb(30, 30, 30);
    border: solid 3px black;
    border-radius: 15px;
    transition: 0.5s all 0s;
    opacity: 0;
    box-shadow: 0px 20px 50px -10px black;
}

#menuEquipamentosCategoria,
#menuMagiasCategoria {
    width: 100%;
    margin: 0% 0% 0% 0%;
    padding: 0% 0% 0% 0%;
    background-color: black;
    color: red;
    border: solid 3px black;
    border-radius: 5px;
    text-align: center;
    font-size: 15pt;
}

#menuEquipamentosNome,
#menuMagiasNome {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%);
    width: 75%;
    margin: 0%;
    padding: 0%;
    background-color: black;
    color: darkgray;
    border-radius: 5px;
    text-align: center;
}

#menuEquipamentosDanoDefesa,
#menuMagiasDanoRecuperacaoBuff {
    position: absolute;
    top: 35%;
    left: 3%;
    width: 40%;
    height: 18%;
    margin: 0%;
    padding: 1%;
    background-color: black;
    color: darkgray;
    border-radius: 5px;
    text-align: center;
}

#menuEquipamentosTipo,
#menuMagiasTipo {
    position: absolute;
    top: 35%;
    right: 3%;
    width: 40%;
    height: 18%;
    margin: 0%;
    padding: 1%;
    background-color: black;
    color: darkgray;
    border-radius: 5px;
    text-align: center;
}

#menuEquipamentosEnergia,
#menuMagiasEnergia {
    position: absolute;
    top: 55%;
    left: 7%;
    width: 40%;
    height: 20%;
    margin: 0%;
    padding: 0%;
    background-color: black;
    color: green;
    border-radius: 5px;
    text-align: center;
}

#menuEquipamentosMana,
#menuMagiasMana {
    position: absolute;
    top: 55%;
    right: 7%;
    width: 40%;
    height: 20%;
    margin: 0%;
    padding: 0%;
    background-color: black;
    color: blue;
    border-radius: 5px;
    text-align: center;
}

#menuEquipamentosPeso {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%);
    width: 30%;
    height: 18%;
    margin: 0%;
    padding: 0%;
    background-color: black;
    color: darkgray;
    border-radius: 5px;
    text-align: center;
}

/*-----*/



/*-ITENS-*/
#menuItens {
    position: absolute;
    bottom: 15%;
    left: 50%;
    transform: translate(-50%);
    width: 50%;
    height: 60%;
    background-color: rgb(30, 30, 30);
    border: solid 5px black;
    border-radius: 5%;
    text-align: center;
    font-weight: bold;
    transition: 0.5s all 0s;
    opacity: 0;
    overflow: auto;
    box-shadow: 0px 30px 50px -30px black;
}

/*-VOLTAR/PRÓXIMO ITENS-*/
#voltarItens {
    position: absolute;
    left: 1%;
}

#proximoItens {
    position: absolute;
    right: 1%;
}

/*-CATEGORIA ITENS-*/
#itensTipo {
    width: 100%;
    margin: 0% 0% 0% 0%;
    padding: 0% 0% 0% 0%;
    background-color: black;
    color: red;
    border: solid 3px black;
    text-align: center;
    font-size: 20pt;
}


/*-DISPLAY-*/
#menuItensEquipamentosDisplay {
    display: contents;
}

#menuItensMagiasDisplay {
    display: none;
}

#menuItensPocoesDisplay {
    display: none;
}

/*-ITENS SLOTS-*/
#menuItensEquipamentosDisplay>section,
#menuItensMagiasDisplay>section,
#menuItensPocoesDisplay>section {
    float: left;
    width: 20%;
    height: 30%;
    margin: 4% 2.5% 0% 2.5%;
    padding: 0% 0% 0% 0%;
    background-color: black;
    border-radius: 5px;
    box-shadow: 0px 15px 40px 1px black;
}

/*-----*/
#menuItensEquipamentosDisplay>section>p {
    color: red;
    padding: 10% 0% 0% 0%;
}

#menuItensEquipamentosDisplay>section>input {
    background-color: black;
    color: red;
    border-radius: 1px;
}


/*-----*/
#menuItensMagiasDisplay>section>p {
    color: blue;
    padding: 10% 0% 0% 0%;
}

#menuItensMagiasDisplay>section>input {
    background-color: black;
    color: blue;
    border-radius: 1px;
}

/*-----*/
#menuItensPocoesDisplay>section>p {
    color: darkgray;
    padding: 10% 0% 0% 0%;
}

#menuItensPocoesDisplay>section>input {
    background-color: black;
    color: darkgray;
    border-radius: 1px;
}

/*-----*/



/*-MISSÃO / HORÁRIO-*/
#menuMissao {
    position: absolute;
    bottom: -5%;
    left: 50%;
    transform: translate(-50%);
    width: 20%;
    height: 10%;
    padding: 0% 0% 0% 0%;
    background-color: rgb(30, 30, 30);
    border: solid 5px black;
    border-radius: 15px;
    text-align: center;
    font-size: 14pt;
    font-weight: bold;
    transition: 0.5s all 0s;
    opacity: 0;
    box-shadow: 0px 5px 20px 0px black;
}

#horario {
    position: absolute;
    bottom: -5%;
    left: 65%;
    width: 10%;
    height: 10%;
    margin: 0% 0% 0% 0%;
    padding: 0% 0% 0% 0%;
    background-color: rgb(30, 30, 30);
    border: solid 5px black;
    border-radius: 15px;
    text-align: center;
    font-size: 14pt;
    font-weight: bold;
    transition: 0.5s all 0s;
    opacity: 0;
    box-shadow: 0px 5px 20px 0px black;
}

/*-----*/


/*-BOTÕES VOLTAR/PRÓXIMO-*/
#voltarItens,
#proximoItens,
#voltarEquipamentos,
#proximoEquipamentos,
#voltarMagias,
#proximoMagias {
    background-color: black;
    color: orangered;
    border-radius: 5px;
    transition: 0.3s;
}

#voltarItens:hover,
#proximoItens:hover,
#voltarEquipamentos:hover,
#proximoEquipamentos:hover,
#voltarMagias:hover,
#proximoMagias:hover {
    background-color: rgb(30, 30, 30);
    cursor: pointer;
}

/*-----*/