/*-----*/
#menu
{
    display: none;
}
/*-----*/

/*-----*/
#mainBotaoMenu
{
    display: none;
}

#botaoMenu {
    position: absolute;
    top: 0%;
    left: 4%;
    width: 8%;
    background-color: black;
    color: orangered;
    border: solid 3px black;
    font-size: 20px;
    font-weight: bold;
}

#botaoMenu:hover {
    background-color: rgb(30, 30, 30);
    cursor: pointer;
}
/*-----*/



/*-NIVEL-*/
#nivel {
    position: absolute;
    top: -15%;
    left: 50%;
    transform: translate(-50%);
    width: 20%;
    height: 5%;
    text-align: center;
    font-weight: bold;
    transition: 0.5s all 0s;
    opacity: 0;
}

#nivelAtual {
    margin: auto;
    padding: 0% 0% 0% 0%;
    width: 50%;
    height: 5vh;
    background-color: rgb(30, 30, 30);
    border: solid 3px black;
    border-bottom: none;
    text-align: center;
    font-size: 20pt;
    font-weight: bold;
}

#experienciaAtual {
    margin: auto;
    padding: 0% 0% 0% 0%;
    width: 85%;
    height: 3.5vh;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAASwAAACoCAMAAABt9SM9AAAAA1BMVEWAgICQdD0xAAAAR0lEQVR4nO3BAQEAAACCIP+vbkhAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAO8GxYgAAb0jQ/cAAAAASUVORK5CYII=);
    background-repeat: no-repeat;
    background-size: 0% 100%;
    border: solid 3px black;
    text-align: center;
    font-size: 10pt;
    font-weight: bold;
    transition: 1s linear 0s;
}
/*-----*/



/*-----*/
#subirNivelDisplay
{
    display: none;
}

#upStatus
{
    display: none;
}

#subirNivel {
    margin: 0% 0% 5% 0%;
    padding: 2%;
    background-color: black;
    color: orangered;
    border-radius: 10%;
    text-align: center;
    font-size: 10pt;
    font-weight: bold;
}

#subirVida,
#subirEnergia,
#subirMana {
    margin: 0% 0% 5% 0%;
    padding: 2%;
    width: 25%;
    color: black;
    border-radius: 10%;
    text-align: center;
    font-size: 10pt;
    font-weight: bold;
}

#subirVida {
    background-color: red;
}

#subirEnergia {
    background-color: green;
}

#subirMana {
    background-color: blue;
}

/*-----*/



/*-CARACTERISTICAS-*/
#menuNomeGeneroRaca {
    position: absolute;
    top: 15%;
    left: -5%;
    width: 15%;
    height: 35%;
    padding: 1% 0.5% 5% 0.5%;
    background-color: rgb(30, 30, 30);
    border: solid 3px black;
    border-radius: 5%;
    transition: 0.5s all 0s;
    opacity: 0;
}

#menuNome,
#menuGenero,
#menuRaca,
#menuPecitas {
    width: 100%;
    margin: 0% 0% 10% 0%;
    padding: 0% 0% 0% 0%;
    background-color: black;
    color: orangered;
    border: solid 3px orangered;
    border-radius: 5%;
    text-align: center;
    font-size: 15pt;
}
/*-----*/



/*-----*/
#menuPecitas {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%);
    width: 53%;
    font-size: 13pt;
}
/*-----*/



/*-STATS-*/
#menuStats {
    position: absolute;
    top: 55%;
    left: -5%;
    width: 15%;
    height: 35%;
    padding: 1% 0.5% 5% 0.5%;
    background-color: rgb(30, 30, 30);
    border: solid 3px black;
    border-radius: 5%;
    transition: 0.5s all 0s;
    opacity: 0;
}

#menuVida,
#menuEnergia,
#menuMana,
#menuPeso {
    width: 100%;
    margin: 0% 0% 5% 0%;
    padding: 0% 0% 0% 0%;
    background-color: black;
    border: solid 3px orangered;
    border-radius: 10%;
    text-align: center;
    font-size: 15pt;
}

#menuVida {
    color: red;
}

#menuEnergia {
    color: green;
}

#menuMana {
    color: blue;
}

#menuPeso{
    width: 80%;
    margin: auto;
    margin-top: 20%;
    padding: 0% 0% 0% 0%;
    background-color: black;
    color: gray;
    border: solid 3px orangered;
    border-radius: 10%;
    text-align: center;
    font-size: 15pt;
}
/*-----*/



/*-EQUIPAMENTO-*/
#menuEquipamentos {
    position: absolute;
    top: 5%;
    right: -5%;
    width: 20%;
    height: 40%;
    margin: 0% 0% 0% 0%;
    padding: 0% 0% 0% 0%;
    background-color: rgb(30, 30, 30);
    border: solid 3px black;
    border-radius: 5%;
    transition: 0.5s all 0s;
    opacity: 0;
}
#menuEquipamentosTipo
{
    width: 100%;
    margin: 0% 0% 0% 0%;
    padding: 0% 0% 0% 0%;
    background-color: black;
    color: red;
    border: solid 3px black;
    border-radius: 10%;
    text-align: center;
    font-size: 15pt;
}
#voltarEquipamentos{
    position: absolute;
    top: 1%;
    left: 1%;
    background-color: black;
    color: orangered;
    border-radius: 5%;
}

#proximoEquipamentos{
    position: absolute;
    top: 1%;
    right: 1%;
    background-color: black;
    color: orangered;
    border-radius: 5%;
}
#menuEquipamentosInfo1
{
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%);
    width: 75%;
    margin: 0%;
    padding: 0%;
    background-color: black;
    color: orangered;
    border-radius: 5%;
    text-align: center;
}
#menuEquipamentosInfo2
{
    position: absolute;
    top: 35%;
    left: 3%;
    width: 25%;
    height: 30%;
    margin: 0%;
    padding: 0%;
    background-color: black;
    color: orangered;
    border-radius: 5%;
    text-align: center;
}
#menuEquipamentosInfo3
{
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%);
    width: 25%;
    height: 30%;
    margin: 0%;
    padding: 0%;
    background-color: black;
    color: orangered;
    border-radius: 5%;
    text-align: center;
}
#menuEquipamentosInfo4
{
    position: absolute;
    top: 35%;
    right: 3%;
    width: 25%;
    height: 30%;
    margin: 0%;
    padding: 0%;
    background-color: black;
    color: orangered;
    border-radius: 5%;
    text-align: center;
}
#menuEquipamentosInfo5
{
    position: absolute;
    top: 75%;
    left: 3%;
    width: 25%;
    height: 20%;
    margin: 0%;
    padding: 0%;
    background-color: black;
    color: orangered;
    border-radius: 5%;
    text-align: center;
}
#menuEquipamentosInfo6
{
    position: absolute;
    top: 75%;
    right: 3%;
    width: 25%;
    height: 20%;
    margin: 0%;
    padding: 0%;
    background-color: black;
    color: orangered;
    border-radius: 5%;
    text-align: center;
}



#menuMagias {
    position: absolute;
    top: 55%;
    right: -5%;
    width: 20%;
    height: 40%;
    padding: 0% 0% 0% 0%;
    background-color: rgb(30, 30, 30);
    border: solid 3px black;
    border-radius: 5%;
    transition: 0.5s all 0s;
    opacity: 0;
}
#menuMagiasTipo
{
    width: 100%;
    margin: 0% 0% 0% 0%;
    padding: 0% 0% 0% 0%;
    background-color: black;
    color: red;
    border: solid 3px black;
    border-radius: 10%;
    text-align: center;
    font-size: 15pt;
}
#voltarMagias{
    position: absolute;
    top: 1%;
    left: 1%;
    background-color: black;
    color: orangered;
    border-radius: 5%;
}

#proximoMagias{
    position: absolute;
    top: 1%;
    right: 1%;
    background-color: black;
    color: orangered;
    border-radius: 5%;
}
#menuMagiasInfo1
{
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%);
    width: 75%;
    margin: 0%;
    padding: 0%;
    background-color: black;
    color: orangered;
    border-radius: 5%;
    text-align: center;
}
#menuMagiasInfo2
{
    position: absolute;
    top: 35%;
    left: 3%;
    width: 25%;
    height: 30%;
    margin: 0%;
    padding: 0%;
    background-color: black;
    color: orangered;
    border-radius: 5%;
    text-align: center;
}
#menuMagiasInfo3
{
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%);
    width: 25%;
    height: 30%;
    margin: 0%;
    padding: 0%;
    background-color: black;
    color: orangered;
    border-radius: 5%;
    text-align: center;
}
#menuMagiasInfo4
{
    position: absolute;
    top: 35%;
    right: 3%;
    width: 25%;
    height: 30%;
    margin: 0%;
    padding: 0%;
    background-color: black;
    color: orangered;
    border-radius: 5%;
    text-align: center;
}
#menuMagiasInfo5
{
    position: absolute;
    top: 75%;
    left: 3%;
    width: 25%;
    height: 20%;
    margin: 0%;
    padding: 0%;
    background-color: black;
    color: orangered;
    border-radius: 5%;
    text-align: center;
}
#menuMagiasInfo6
{
    position: absolute;
    top: 75%;
    right: 3%;
    width: 25%;
    height: 20%;
    margin: 0%;
    padding: 0%;
    background-color: black;
    color: orangered;
    border-radius: 5%;
    text-align: center;
}
/*-----*/



/*-ITENS-*/
#menuItens {
    position: absolute;
    bottom: 15%;
    left: 50%;
    transform: translate(-50%);
    width: 50%;
    height: 60%;
    background-color: rgb(30, 30, 30);
    border: solid 5px black;
    border-radius: 5%;
    text-align: center;
    font-weight: bold;
    transition: 0.5s all 0s;
    opacity: 0;
    overflow: auto;
}

#voltarItens{
    position: absolute;
    left: 1%;
    background-color: black;
    color: orangered;
    border-radius: 5%;
}

#proximoItens{
    position: absolute;
    right: 1%;
    background-color: black;
    color: orangered;
    border-radius: 5%;
}

#itensTipo {
    width: 100%;
    margin: 0% 0% 0% 0%;
    padding: 0% 0% 0% 0%;
    background-color: black;
    color: red;
    border: solid 3px black;
    border-radius: 10%;
    text-align: center;
    font-size: 20pt;
}



#menuItensEquipamentosDisplay
{
    display: contents;
}
#menuItensEquipamentosDisplay > section{
    float: left;
    width: 20%;
    margin: 4% 2.5% 0% 2.5%;
    padding: 0% 0% 0% 0%;
    background-color: black;
    border-radius: 5%;
}
#menuItensEquipamentosDisplay > section > p{
    color: red;
    padding: 10% 0% 0% 0%;
}
#menuItensEquipamentosDisplay > section > input{
    background-color: black;
    color: red;
    border-radius: 20%;
}



#menuItensMagiasDisplay
{
    display: none;
}
#menuItensMagiasDisplay > section{
    float: left;
    width: 20%;
    margin: 4% 2.5% 0% 2.5%;
    padding: 0% 0% 0% 0%;
    background-color: black;
    border-radius: 5%;
}
#menuItensMagiasDisplay > section > p{
    color: blue;
    padding: 10% 0% 0% 0%;
}
#menuItensMagiasDisplay > section > input{
    background-color: black;
    color: blue;
    border-radius: 20%;
}



#menuItensPocoesDisplay
{
    display: none;
}
#menuItensPocoesDisplay > section{
    float: left;
    width: 20%;
    margin: 4% 2.5% 0% 2.5%;
    padding: 0% 0% 0% 0%;
    background-color: black;
    border-radius: 5%;
}
#menuItensPocoesDisplay > section > p{
    color: gray;
    padding: 10% 0% 0% 0%;
}
#menuItensPocoesDisplay > section > input{
    background-color: black;
    color: gray;
    border-radius: 20%;
}
/*-----*/



/*-----*/
#menuMissao{
    position: absolute;
    bottom: -5%;
    left: 50%;
    transform: translate(-50%);
    width: 20%;
    height: 10%;
    padding: 0% 0% 0% 0%;
    background-color: rgb(30, 30, 30);
    border: solid 5px black;
    border-radius: 5%;
    text-align: center;
    font-size: 14pt;
    font-weight: bold;
    transition: 0.5s all 0s;
    opacity: 0;
}
/*-----*/