/*-GOBLIN, GOLEM, DRAGÃO-*/
#inimigoHud{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%);
    width: 40%;
    margin: 0%;
    padding: 0%;
}

#mainInimigoHud > img {
    width: 50%;
}

#inimigoHudNome{
    width: 100%;
    margin: 0%;
    padding: 0%;
    background-color: gray;
    border: solid 3px black;
    border-radius: 5%;
    text-align: center;
    font-size: 50pt;
    font-weight: bold;
}

#inimigoHudVida{
    width: 80%;
    margin: 0%;
    padding: 0%;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAOEAAADhCAMAAAAJbSJIAAAAA1BMVEX/AAAZ4gk3AAAASElEQVR4nO3BgQAAAADDoPlTX+AIVQEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAADwDcaiAAFXD1ujAAAAAElFTkSuQmCC);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border: solid 3px black;
    border-radius: 5%;
    text-align: center;
    font-size: 25pt;
    transition: 0.5s linear 0s;
}

#inimigoHudEnergiaMana {
    width: 50%;
    margin: 0%;
    padding: 0%;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAQMAAADCCAMAAAB6zFdcAAAAA1BMVEVyC5jtL0NZAAAASElEQVR4nO3BMQEAAADCoPVPbQwfoAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAIC3AcUIAAFkqh/QAAAAAElFTkSuQmCC);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border: solid 3px black;
    border-radius: 5%;
    text-align: center;
    font-size: 20pt;
    transition: 0.5s linear 0s;
}

#mensagemInimigoDerrotado {
    margin-top: 15%;
    text-align: center;
    font-size: 50pt;
}

#experienciaGanha {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
    margin: auto;
    padding: 1% 0% 5% 0%;
    width: 75%;
    height: 1vh;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAASwAAACoCAMAAABt9SM9AAAAA1BMVEWAgICQdD0xAAAAR0lEQVR4nO3BAQEAAACCIP+vbkhAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAO8GxYgAAb0jQ/cAAAAASUVORK5CYII=);
    background-repeat: no-repeat;
    background-size: 0% 100%;
    border: solid 3px black;
    border-radius: 5%;
    text-align: center;
    font-size: 30pt;
    font-weight: bold;
    transition: 1s linear 0s;
}

/*-----*/