/*-----*/
#movesetEscolha{
    position: absolute;
    bottom: 5%;
    right: 3%;
    width: 15%;
    height: 20%;
    margin: 0% 0% 0% 0%;
    padding: 0% 0% 0% 0%;
    background-color: black;
    border-radius: 5%;
    font-size: 15pt;
    font-weight: bold;
}

#movesetArmaEscolha,
#movesetMagiaEscolha,
#movesetArmaduraEscolha,
#movesetOutrosEscolha,

#ataqueFraco,
#ataqueForte,
#teste1,
#voltarArmaAcao,

#magiaDano,
#magiaRecuperar,
#magiaBuff,
#voltarMagiaAcao,

#bloquear,
#descanso,
#foco,
#voltarArmaduraAcao
{
    width: 45%;
    height: 40%;
    padding: 0% 0% 0% 0%;
    background-color: black;
    color: orangered;
    border: solid 3px orangered;
    border-radius: 5%;
    font-size: 15pt;
    font-weight: bold;
    transition: 0.3s all 0s;
}

#movesetArmaEscolha,
#ataqueFraco,
#magiaDano,
#bloquear{
    margin: 5% 0% 0% 4%;
}

#movesetMagiaEscolha,
#ataqueForte,
#magiaRecuperar,
#descanso{
    margin: 0% 0% 0% 0%;
}

#movesetArmaduraEscolha,
#teste1,
#magiaBuff,
#foco{
    margin: 3% 0% 0% 4%;
}

#movesetOutrosEscolha,
#voltarArmaAcao,
#voltarMagiaAcao,
#voltarArmaduraAcao{
    margin: 3% 0% 0% 0%;
}


#movesetArmaEscolha:hover {
    background-color: red;
    cursor: pointer;
}
#movesetMagiaEscolha:hover {
    background-color: blue;
    cursor: pointer;
}

#movesetArmaduraEscolha:hover {
    background-color: green;
    cursor: pointer;
}

#movesetOutrosEscolha:hover {
    background-color: wheat;
    cursor: pointer;
}

#ataqueFraco:hover,
#ataqueForte:hover,
#teste1:hover,
#voltarArmaAcao:hover{
    background-color: red;
    cursor: pointer;
} 

#magiaDano:hover,
#magiaRecuperar:hover,
#magiaBuff:hover,
#voltarMagiaAcao:hover{
    background-color: blue;
    cursor: pointer;
}

#bloquear:hover,
#descanso:hover,
#foco:hover,
#voltarArmaduraAcao:hover{
    background-color: green;
    cursor: pointer;
}

#minigame {
    position: absolute;
    top: 50%;
    left: 35%;
    width: 3%;
    height: 6%;
    background-color: purple;
    border: solid 3px black;
    border-radius: 100%;
    text-align: center;
    z-index: 9999;
}

#mensagemJogadorDerrotado {
    margin-top: 15%;
    text-align: center;
    font-size: 50pt;
}

/*-----*/